[tool.ruff]
line-length = 100

[tool.ruff.lint.isort]
case-sensitive = true
combine-as-imports = true

[tool.ruff.analyze]
detect-string-imports = true

[tool.ruff.format]
# Enable reformatting of code snippets in docstrings.
docstring-code-format = true
# Format all docstring code snippets with a line length of 60.
docstring-code-line-length = 60
